body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.q123 {
  width: 100%;
  height: 480px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.q1234 {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.outline-no {
  outline: none;
}

.section {
  padding: 3em 0 2em;
}

.image-shadow {
  background-color: rgba(34, 34, 41, 0.7);
  transition: background-color .1s ease-out;
  width: 100%;
  height: 100%;
}

.image-shadow:hover {
  background-color: inherit;
  cursor: pointer;
}

@media (min-width: 768px) {

  .block-wrapper,
  .header {
    width: 750px;
  }
}

@media (min-width: 992px) {

  .block-wrapper,
  .header {
    width: 970px;
  }
}

@media (min-width: 1200px) {

  .block-wrapper,
  .header {
    width: 1170px;
  }
}

.block-wrapper {
  padding: 20px 0 0;
  height: calc(100% - 2em);
  margin: 0 auto;
}

.main-section-title {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: block;
  font-size: 5em;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
  color: #333333;
}

.header {
  font-size: 1.6em;
  margin: 0 auto;
}

.header_block {
  background-color: #333;
  color: white;
  z-index: 200;
  height: 90px;
  position: fixed;
}

.header__nav {
  font-size: 1em;
  color: #333;
  flex: 1;
  max-width: 550px;
}

.header--font {
  font-size: 1em;
  font-weight: 100;
  text-transform: uppercase;
}

.header__logo {
  background-image: url('./images/Screenshot_1.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.align-i-c {
  align-items: center;
}

.header__link {
  transition: all .3s;
  font-size: 1.2em;
  font-weight: 100;
  text-transform: uppercase;
  color: white;
}

.menu {

}

.h-240 {
  height: 240px;
}

.m-0-20 {
  margin: 10px 20px;
}

.w-300 {
  width: 300px;
}

.image-cost {
  right: 10px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: white;
}

.pr {
  /* position: relative; */
}

.menu {
  position: fixed;
  background-color: #333;
  left: 0;
  right: 0;
  top: 90px;
  z-index: 200
}

.p-r {
  position: relative;
}

.p-a {
  position: absolute;
}

.image-text {
  width: 100%;
  top: 75%;
  font-size: 30px;
    font-weight: bold;
    line-height: 1.17;
    padding-bottom: 23px;
    text-align: center;
    color: white;
}

.flex {
  display: flex;
}

.flex-r {
  flex-direction: column;
}

.flex-r-c {
  flex-direction: column;
  align-content: center;
}

.m-1 {
  margin: 1em 0;
}

.m-3 {
  margin: 3em 0;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-c {
  display: flex;
  justify-content: center;
}

.p-0-20 {
  padding: 0 2em;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 48%;
}

.h-350 {
  height: 350px;
}

.w-66 {
  width: 100%;
}

.w-33 {
  width: 100%;
}

.image {
  background-image: url('./images/11.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.main-banner-image {
  width: 100%;
  height: calc(100vh - 9em);
  background-image: url('./images/11.jpg');
  margin: 9em 0 0;
}

.fix {
  position: fixed;
  top: 0;
}

.i-12 {
  background-image: url('./images/12.jpg');
}

.i-13 {
  background-image: url('./images/13.jpg');
}

.main-banner-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  text-shadow: 0 0 10px #000105;
  color: white;
  padding: 20px 0;
}

.main-banner-info {
  position: absolute;
  top: 50%;
}

.banner_button {
  background-color: #fff;
  padding: 15px 20px;
  font-size: 20px;
  text-align: center;
  color: #333;
  box-shadow: 0 0 40px 0 #000105;
  font-weight: normal;
  margin: 40px 0;
  line-height: 1;
  border-radius: 10px;
  min-width: 130px;
  display: inline-block;
}

.main-banner-text {
  font-size: 20px;
  line-height: 1.43;
  text-align: left;
  font-weight: normal;
  color: white;
}

.border {
  border-bottom: 1px solid #d2d2d2;
}

/* ProjectPage*/

.qwer {
  margin-top: 90px;
  height: calc(100vh - 10.5em);
  background-color: #F1F5F9;
}

.q {
  background-color: white;
  margin: 20px 0;
  height: 50px;
  box-shadow: 0 0 10px 1px #d6d6d6;
}

.q>h1 {
  text-align: center;
  font-size: 2.4em;
  line-height: 2.1;
}

.qq {
  display: flex;
  justify-content: space-between;
}

.qqq {
  width: 670px;
  background-color: #F1F5F9;
}

.qqqq {
  background: #fff;
  width: 470px;
  min-height: 480px;
}

.header-2 {
  font-size: 2em;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
  color: #333;
}

.m-30 {
  margin: 0 30px;
}

.text-c {
  line-height: 1;
  font-size: 1.4em;
  letter-spacing: 1px;
  padding: 5px 0;
}

.text-b {
  line-height: 1;
  font-size: 1.6em;
  font-weight: bold;
  padding: 5px 0;
}

.text-b-2 {
  font-size: 1.8em;
  color: #333;
  font-weight: bold;
}

.text-b-3 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 20px 0 0;
}

.line {
  height: 2px;
  background: #f1f5f9;
  margin: 18px 0px;
}

.project-d-list li {
  font-size: 1.4em;
  color: #000;
  opacity: 0.6;
  line-height: 1;
  width: 270px;
  margin: 15px;
  letter-spacing: 1px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header__nav>div {
  display: block;
  line-height: 90px;
  padding: 0 10px;
  color: #fff;
  transition: all .3s;
}

.header__nav>div:hover {
  color: #ffd800;
  cursor: pointer;
}

.header__link:hover {
  color: #ffd800;
}