body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

.outline-no div {
  background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.outline-no {
  width: 45%;
}

.outline-no > .q123 {
  height: 350px;
}

div.react-tabs__tab-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
ul.react-tabs__tab-list {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

ul {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.q123 {
  width: 100%;
  height: 550px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-list .q123 {
  height: 550px;
  background-size: cover;
}

.q1234 {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.outline-no {
  outline: none;
}

.section {
  padding: 3em 0 2em;
}

.image-shadow {
  background-color: rgba(34, 34, 41, 0.7);
  transition: background-color .1s ease-out;
  width: 100%;
  height: 100%;
}

.image-shadow:hover {
  background-color: inherit;
  cursor: pointer;
}

.f-s-20 {
  font-size: 20px;
}

.qq {
  flex-wrap: wrap;
}

.block-wrapper {
  padding: 20px 0 0;
  height: calc(100% - 2em);
  margin: 0 auto;
}

.main-section-title {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: block;
  font-size: 5em;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
  color: #333333;
}

.item-wrapper a {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.header {
  font-size: 1.6em;
  margin: 0 auto;
}

.item-content:hover .hover-effect {
  height: 99%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

/* .hover-effect {
  height: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
} */

.item-wrapper {
  position: relative;
}

.header_block {
  background-color: #333;
  color: white;
  z-index: 200;
  height: 90px;
  position: fixed;
}

.m-top-90 {
  margin-top: 90px;
}

.header__nav {
  font-size: 1em;
  color: #333;
  flex: 1;
  max-width: 550px;
}

.header--font {
  font-size: 1em;
  font-weight: 100;
  text-transform: uppercase;
}

.header__logo {
  background-image: url('./images/Screenshot_1.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.align-i-c {
  align-items: center;
}

.header__link {
  transition: all .3s;
  font-size: 1.2em;
  font-weight: 100;
  text-transform: uppercase;
  color: white;
}

.menu {}

.h-240 {
  height: 240px;
}

.m-0-20 {
  margin: 10px 20px;
}

.w-300 {
  width: 300px;
}

.image-cost {
  right: 10px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: white;
}

.pr {
  /* position: relative; */
}

.menu {
  position: fixed;
  background-color: #333;
  left: 0;
  right: 0;
  top: 90px;
  z-index: 10000;
}

.border {
  border: 3px solid #e2e2e3;
}

.about p {
  font-size: 18px;
  font-weight: 300;
}

.about h6 {
  font-size: 20px;
  font-weight: 400;
  margin: 5px;
}

.about ul {
  margin: 0;
}

.p-r {
  position: relative;
}

.p-a {
  position: absolute;
}

.image-text {
  width: 100%;
  top: 75%;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.17;
  padding-bottom: 23px;
  text-align: center;
  color: white;
}

.m-bot {
  margin-bottom: 35px;
}

.m-t-100 {
  margin-top: 100px;
}

.detail_area {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: #587640;
  padding-left: 30px;
  padding-bottom: 20px;
}

.f-s-50 {
  font-size: 50px;
  line-height: 45px;
}
.f-s-24 {
  font-size: 24px;
  line-height: 5px;
}
.flex {
  display: flex;
}

.flex-w {
  flex-wrap: wrap;
}

.flex-r {
  flex-direction: column;
}

.flex-r-c {
  flex-direction: column;
  align-content: center;
}

.m-1 {
  margin: 1em 0;
}

.m-3 {
  margin: 3em 0;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-c {
  display: flex;
  justify-content: center;
}

.p-0-20 {
  padding: 0 2em;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 48%;
}

.h-350 {
  height: 350px;
}

.w-66 {
  width: 100%;
}

.w-33 {
  width: 100%;
}

.image {
  background-image: url('./images/11.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.item-image {
  height: 70%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-title {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  font-family: Roboto, sans-serif;
  height: 27%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.item-price {
  font-size: 25px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  color: #c8821c;
  word-spacing: -1px;
}

.item-area {
  font-size: 25px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif !important;
  line-height: 1;
  color: #587640;
}

.header__nav a {
  color: white;
}

.main-banner-image {
  width: 100%;
  height: calc(100vh - 9em);
  background-image: url('./images/11.jpg');
  margin: 9em 0 0;
}

.fix {
  position: fixed;
  top: 0;
}

.i-12 {
  background-image: url('./images/12.jpg');
}

.i-13 {
  background-image: url('./images/13.jpg');
}

.main-banner-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  text-shadow: 0 0 10px #000105;
  color: white;
  padding: 20px 0;
}

.main-banner-info {
  position: absolute;
  top: 50%;
}

.t-align-c {
  text-align: center;
}

.banner_button {
  background-color: #fff;
  padding: 15px 20px;
  font-size: 20px;
  text-align: center;
  color: #333;
  box-shadow: 0 0 40px 0 #000105;
  font-weight: normal;
  margin: 40px 0;
  line-height: 1;
  border-radius: 10px;
  min-width: 130px;
  display: inline-block;
}

.main-banner-text {
  font-size: 20px;
  line-height: 1.43;
  text-align: left;
  font-weight: normal;
  color: white;
}

.border {
  border-bottom: 1px solid #d2d2d2;
}

/* ProjectPage*/

.qwer {
  margin-top: 90px;
  height: calc(100vh - 10.5em);
}

.q {
  background-color: white;
  margin: 20px 0;
  height: 50px;
}

.Form-Cotnainer {
  width: 100%;
  background-color: white;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  padding: 20px;
}

.form .h2 {
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #444444;
}

.form .desc {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #444444;
}

.form .button {
  text-align: center;
  display: inline-block;
  font: bold 1.25rem/3.125rem 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  background: #ffd800;
  color: #2b2b2f;
  padding-left: 43px;
  padding-right: 43px;
  transition: all .2s;
  border: none;
  width: 240px;
}


.qqqq .button {
  font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 24px;
    padding: 7px 35px;
    width: 244px;
    display: block;
  text-align: center;
text-transform: uppercase;
letter-spacing: 0.06em;
background: #DA8A16;
  margin-left: 20px;
}

.qqqq .button:hover {
 color: white;
}

.button:hover {
  opacity: 0.9;
  color: #2b2b2f;
}

div.slick-prev:before, div.slick-next:before {
  content: '';
  height: 100%;
}

div.slick-arrow {
  display: block!important;
  z-index: 1000!important;
  width: 50%!important;
  height: 100%!important;
}

div.slick-prev {
  left: 0!important;
}

div.slick-next {
  right: 0!important;
}

.dots {
  color: #FFF;
  border: 2px solid #FFF;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: -35px;
}

.slick-active .dots {
  background: #FFF;
}

.q>h1 {
  text-align: center;
  font-size: 3.5em;
}

.qq {
  display: flex;
  justify-content: center;
}

.qqq {
  width: 850px;
  min-height: 310px;
}

.qqqq {
  background: #fff;
  width: 300px;
  min-height: 310px;
}

.header-2 {
  font-size: 2em;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
  color: #333;
}

.m-30 {
  margin: 0 30px;
}

.text-c {
  line-height: 1;
  font-size: 1.4em;
  letter-spacing: 1px;
  padding: 5px 0;
}

.text-b {
  line-height: 1;
  font-size: 1.6em;
  font-weight: bold;
  padding: 5px 0;
}

.text-b-2 {
  font-size: 1.8em;
  color: #333;
  font-weight: bold;
}

.text-b-3 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 20px 0 0;
}

.line {
  height: 2px;
  background: #f1f5f9;
  margin: 18px 0px;
}

.project-d-list li {
  font-size: 1.4em;
  color: #000;
  opacity: 0.6;
  line-height: 1;
  width: 270px;
  margin: 15px;
  letter-spacing: 1px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header__nav>div {
  display: block;
  line-height: 90px;
  color: #fff;
  transition: all .3s;
  width: 20%;
  text-align: center;
}

.header__nav>div:hover, .header__nav>div:hover a {
  color: #ffd800;
  cursor: pointer;
}

.header__nav>a:hover {
  color: #ffd800;
  cursor: pointer;
}

.header__link:hover {
  color: #ffd800;
}

.flex-w {
  flex-wrap: wrap;


}
.text-header {
  text-align: center;
  font-size: 30px;
  padding: 20px 0 0;
  margin: 0;
}

.description-block {
  background-color: #F1F5F9;
    margin: 20px 0 0;
}

.description-text {
  font-size: 18px;
    padding: 20px;
}

li.react-tabs__tab--selected {
  color: rgb(88, 118, 64);
  border-top: none;
  border-right: none;
  border-bottom: 5px solid rgb(88, 118, 64);
  border-left: none;
  border-image: initial;
  background-color: rgb(255, 255, 255);
}

li.react-tabs__tab {
  font-size: 20px;
}

.w-100-1 {
  width: 100%;
}

@media (min-width: 768px) {
  .w-100-1 {
    width: 50%;
  }

  .detail_area {
    text-align: center;
  }
  .f-s-50 {
    justify-content: center;
  }

  .f-s-24 {
    text-align: center;
  }

  .block-wrapper, .header, .qqq, .qqqq {
    width: 750px;
  }

  .item-wrapper {
    width: 50%!important;
  }
}
@media (min-width: 992px) {

  .qqq {
    width: 730px;
  }

  .qqqq {
    width: 250px;
  }
  .block-wrapper, .header {
    width: 970px;
  }

  .item-wrapper {
    width: 33.33%!important;
  }
}

@media (min-width: 1200px) {
  .block-wrapper, .header {
    width: 1170px;
  }

  .item-wrapper {
    width: 33.33%!important;
  }
}


.qwer > .block-wrapper {
  width: 100%;
}